<template lang='jade'>
  .app
    Hello(:greeting="message")
    Hello(:greeting="message")
    Date
    a-component
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

import Hello from './Hello.vue';
import Date from './Date.vue';
import AComponent from './a-component/component.vue';

@Component({
  components: {
    Hello,
    Date,
    AComponent
  }
})
export default class extends Vue {
  message = 'Welcome to Your Vue.js App'
}
</script>

<style lang='stylus'>
*
  font-family: sans-serif;  
</style>
