<template lang='jade'>
    .container
        h1 Date Component
        div {{message}}
        div {{feedback}}
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { State } from 'vuex-class';

@Component({})
export default class extends Vue {
    @State message: string;
    @State feedback: string;
}
</script>

<style scoped lang='stylus'>
.container
    outline: 2px dashed blue;
    padding: 2rem;
</style>