<template lang='jade'>
  .container
    h1 Hello Component
    h2 {{ greeting }}
    button(@click="updateMessage") {{ message }}
    
    div
        input(type="text", :value="feedback", @input="updateFeedback")
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import { State, Action } from 'vuex-class';

@Component({})
export default class extends Vue {
    @Prop() greeting: string;
    @State message: string;
    @State feedback: string;
    @Action updateMessage: void;
    @Action updateFeedback: void;
}
</script>

<style scoped lang='stylus'>
.container
    outline: 1px solid black;
    padding: 2rem;
</style>